body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom, #0e4c6e, #000);
    color: #fff;
    display:grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

.voltar-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #ffd369;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.voltar-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.form-box {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), #000);
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    text-align: center;
}

.form-box h1 {
    margin-bottom: 10px;
    font-size: 24px;
}

.form-box p {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 30px;
    color: #e0e0e0;
}

form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
}

.doar-btn {
    width: 100%;
    padding: 12px;
    background-color: #f5c451;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.doar-btn:hover {
    background-color: #e5b03c;
}
